################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ACSDinamikaWeb/ACSDinamikaWeb/obj/Debug
*.manifest

/ACSDinamikaWeb/ACSDinamikaWeb/bin/ACSDinamikaWeb.pdb
*.suo
/ACSDinamikaWeb/ACSDinamikaWeb/obj/Debug/**/*
/ACSDinamikaWeb/ACS.DAL/bin/Debug
/ACSDinamikaWeb/ACS.DAL/obj/Debug
/ACSDinamikaWeb/ACS.BLL/bin/Debug
/ACSDinamikaWeb/ACS.BLL/obj/Debug
.vs/*
/ACSDinamikaWeb/.vs/config
