################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ACS.WEB/ACS.WEB/obj/Debug
/ACS.WEB/ACS.WEB/bin/Debug
*.manifest

/ACS.WEB/ACS.WEB/bin/ACS.WEB.pdb
*.suo
/ACS.WEB/ACS.WEB/obj/Debug/**/*
/ACS.WEB/ACS.DAL/bin/Debug
/ACS.WEB/ACS.DAL/obj/Debug
/ACS.WEB/ACS.BLL/bin/Debug
/ACS.WEB/ACS.DAL/App_Data/
/ACS.WEB/ACS.WEB/App_Data
/ACS.WEB/ACS.BLL/obj/Debug
InitializingDBFromXML/obj/Debug
.vs/*
/ACS.WEB/.vs/config
/ACS.WEB/packages
/NLayerApp.WEB/NLayerApp.BLL/bin/Debug
/NLayerApp.WEB/.vs/config
/NLayerApp.WEB/NLayerApp.BLL/obj/Debug
/NLayerApp.WEB/NLayerApp.DAL/bin/Debug
/NLayerApp.WEB/NLayerApp.DAL/obj/Debug
/NLayerApp.WEB/NLayerApp.WEB/bin
/NLayerApp.WEB/NLayerApp.WEB.Tests/bin/Debug
/NLayerApp.WEB/NLayerApp.WEB.Tests/obj/Debug
/NLayerApp.WEB/packages
/NLayerApp.WEB/NLayerApp.WEB/obj/Debug
/NLayerApp.WEB/NLayerApp.WEB/App_Data
/ACS.WEB/ACS.WEB/bin
/ACS.WEB/ACS.WEB/App_Data/**/*
/ACS.WEB/.vs/ACSWeb/v15/Server/sqlite3
/ACS.WEB/ACS.BLL/obj/Release
/ACS.WEB/ACS.DAL/obj/Release
/ACS.WEB/ACS.WEB/obj/Release
/ACS.WEB/InitializingDBFromXML/obj/Release
/NLayerApp.WEB/.vs/NLayerApp.WEB/v15/Server/sqlite3
/NLayerApp.WEB/NLayerApp.BLL/obj/Release
/NLayerApp.WEB/NLayerApp.DAL/obj/Release
/NLayerApp.WEB/NLayerApp.WEB.Tests/obj/Release
/ACS.WEB/InitializingDBFromXML/obj/Debug
/ACS.WEB/.vs/ACS.WEB/v15/Server/sqlite3
/ACS.WEB/ACS.DAL/bin
/ACS.WEB.zip
/ACSDinamikaWeb/ACSDinamikaWeb/App_Data
/ACSDinamikaWeb
/ACS.WEB/ACS.WEB.Tests/bin/Debug
/ACS.WEB/ACS.WEB.Tests/obj/Debug
