################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ACSDinamikaWeb/ACSDinamikaWeb/obj/Debug
/ACSDinamikaWeb/ACSDinamikaWeb/bin/Debug
*.manifest

/ACSDinamikaWeb/ACSDinamikaWeb/bin/ACSDinamikaWeb.pdb
*.suo
/ACSDinamikaWeb/ACSDinamikaWeb/obj/Debug/**/*
/ACSDinamikaWeb/ACS.DAL/bin/Debug
/ACSDinamikaWeb/ACS.DAL/obj/Debug
/ACSDinamikaWeb/ACS.BLL/bin/Debug
/ACSDinamikaWeb/ACS.BLL/obj/Debug
.vs/*
/ACSDinamikaWeb/.vs/config
/ACSDinamikaWeb/packages
/NLayerApp.WEB/NLayerApp.BLL/bin/Debug
/NLayerApp.WEB/.vs/config
/NLayerApp.WEB/NLayerApp.BLL/obj/Debug
/NLayerApp.WEB/NLayerApp.DAL/bin/Debug
/NLayerApp.WEB/NLayerApp.DAL/obj/Debug
/NLayerApp.WEB/NLayerApp.WEB/bin
/NLayerApp.WEB/NLayerApp.WEB.Tests/bin/Debug
/NLayerApp.WEB/NLayerApp.WEB.Tests/obj/Debug
/NLayerApp.WEB/packages
/NLayerApp.WEB/NLayerApp.WEB/obj/Debug
/NLayerApp.WEB/NLayerApp.WEB/App_Data
/ACSDinamikaWeb/ACSDinamikaWeb/bin
/ACSDinamikaWeb/ACSDinamikaWeb/App_Data
/ACSDinamikaWeb/.vs/ACSWeb/v15/Server/sqlite3
/ACSDinamikaWeb/ACS.BLL/obj/Release
/ACSDinamikaWeb/ACS.DAL/obj/Release
/ACSDinamikaWeb/ACSDinamikaWeb/obj/Release
/ACSDinamikaWeb/InitializingDBFromXML/obj/Release
/NLayerApp.WEB/.vs/NLayerApp.WEB/v15/Server/sqlite3
/NLayerApp.WEB/NLayerApp.BLL/obj/Release
/NLayerApp.WEB/NLayerApp.DAL/obj/Release
/NLayerApp.WEB/NLayerApp.WEB.Tests/obj/Release
/ACSDinamikaWeb/InitializingDBFromXML/obj/Debug
