@model ACS.WEB.ViewModel.ChancelleryViewModel
<div class="form-group">
    @Html.LabelFor(model => model.ToChancelleries, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.ListBoxFor(model => model.Selected_ExtOrg.SelectedId, new MultiSelectList(ViewBag.ExternalOrgsCollection, "Id", "Name"), new { @class = "chosen", multiple = "multiple", data_placeholder = "Выберите организации" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.FromChancelleries, htmlAttributes: new { @class = "control-label col-md-2" })

    <div class="col-md-10">
        @Html.DropDownListFor(model => model.Selected_From_Empl.SelectedId, new SelectList(ViewBag.EmplsCollection, "Id", "FullName"), new { @class = "chosen", data_placeholder = "Выберите работника" })
    </div>
</div>