@model ACS.WEB.ViewModel.ChancelleryViewModel
<div class="form-group">
    @Html.LabelFor(model => model.ToChancelleries, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.Selected_To_Empl.SelectedId, new SelectList(ACS.WEB.ViewModel.SelectedEmployeeViewModel.Collection, "id", "FullName"), new { @class = "chosen", data_placeholder = "Выберите работника" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.FromChancelleries, htmlAttributes: new { @class = "control-label col-md-2" })

    <div class="col-md-10">
        @Html.DropDownListFor(model => model.Selected_From_Empl.SelectedId, new SelectList(ACS.WEB.ViewModel.SelectedEmployeeViewModel.Collection, "id", "FullName"), new { @class = "chosen", data_placeholder = "Выберите работника" })
    </div>
</div>