@model ACS.WEB.Models.Chancellery.ChancellerySearchModelVM

@{
    ViewBag.Title = "Входящая корреспонденция";
    Layout = "~/Views/Shared/_LayoutCancelaria.cshtml";

}

<link href="~/Content/slide_panel.css" rel="stylesheet" />
<h2>Входящая корреспонденция</h2>

@{Html.RenderPartial("_ChancellerySearchPanel", Model);}
@*<p>
    @Html.ActionLink("Создать", "CreateIncoming")
</p>*@
@Styles.Render("~/Content/datatable/css")
@Scripts.Render("~/bundles/dataTable")
<div>
    @{Html.RenderPartial("_ChancelleryIncomingTable", Model.Chancelleries);}
</div>
@section scripts
{
    <script src="~/Scripts/slide_panel.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#baseCorTable').DataTable({
                dom: 'Bflrtip',
                buttons: [
                    {
                        text: 'Создать',
                        action: function (e, dt, node, config) {
                            window.open("@Url.Action("CreateIncoming", "Chancellery", null, Request.Url.Scheme)", "_self");
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: 'Save current page',
                        exportOptions: {
                            modifier: {
                                page: 'current'
                            }
                        }
                    }
    , {
        extend: 'colvis',
        text: 'Скрыть/показать колонки'
    }, {
        extend: 'print',
        text: 'Печать'
    }
                ],
                "columnDefs": [
                {
                    "targets": [11, 12, 13, 14, 15, 16, 17, 18],
                    "visible": false,
                    "searchable": false
                },

                ]
            }
            );
        });
    </script>

<script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: 'none',
                closeEffect: 'none',
                iframe: {
                    preload: true
                }
            });
        });
</script>
}

