@model ACS.WEB.Models.Chancellery.ChancellerySearchModelVM

@{
    ViewBag.Title = "Входящая корреспонденция";
    Layout = "~/Views/Shared/_LayoutCancelaria.cshtml";
}
<link href="~/Content/slide_panel.css" rel="stylesheet" />
<h2>Incoming</h2>

@{Html.RenderPartial("_ChancellerySearchPanel", Model);}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="grid">
    @{
        var grid = new WebGrid(/*source: ViewBag.ListChanc,*/
                              defaultSort: "id",
                              rowsPerPage: 3,
                              canPage: true/*,
                              ajaxUpdateContainerId: "grid"*/);
        grid.Bind(Model.Chancelleries);
    }
    @grid.GetHtml()
</div>

@section scripts
{
<script src="~/Scripts/slide_panel.js"></script>
}
