@model ACS.WEB.Models.Chancellery.ChancellerySearchModelVM

@{
    ViewBag.Title = "Поиск";
    Layout = "~/Views/Shared/_LayoutCancelaria.cshtml";
    IEnumerable<ACS.WEB.ViewModel.BaseCorrespondencyViewModel> gridData = Model.Chancelleries.Select(c => c as ACS.WEB.ViewModel.BaseCorrespondencyViewModel);
}
<link rel="stylesheet" type="text/css" href="~/Scripts/DataTables/datatables.min.css" />

<script type="text/javascript" src="~/Scripts/DataTables/datatables.js"></script>

<h2>Поиск</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>ChancellerySearchModel</h4>*@
        @{Html.RenderPartial("_ChancellerySearchPanel", Model);}
    </div>
            }
<link href="~/Content/slide_panel.css" rel="stylesheet" />
@Styles.Render("~/Content/datatable/css")
@Scripts.Render("~/bundles/dataTable")
<div>
    @{Html.RenderPartial("_BaseCorrespondencyTable", Model.Chancelleries);}
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section scripts
{
    <script src="~/Scripts/slide_panel.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#baseCorTable').DataTable({
            dom: 'Bflrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: 'Save current page',
                    exportOptions: {
                        modifier: {
                            page: 'current'
                        }
                    }
                }
, {
    extend: 'colvis',
    text: 'Скрыть/показать колонки'
}, {
    extend: 'print',
    text: 'Печать'
}
            ],
            "columnDefs": [
            {
                "targets": [9, 10, 11, 12, 13, 14, 15, 16],
                "visible": false,
                "searchable": false
            },

            ]
        }
        );
    });




    //table.buttons().container()
    //  .appendTo($('.col-sm-6:eq(0)', table.table().container()));
</script>
}