@using ACS.WEB.ViewModel;
@using ACS.WEB.Controllers;

@model TypeRecordChancelleryViewModel

<select id="TypeRecordChancellerie" name="TypeRecordChancellerie">
    @foreach (TypeRecordChancelleryViewModel value in ChancelleryController.GetAllTypes())
    {
    <option value="@value" @(Model == value ? "selected=\"selected\"" : "")>
        @value
    </option>
    }
</select>
