
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div style="padding-top:10%; padding-right:5%; padding-left: 5%;">
        <div style="display:block; max-width:771px; margin-right:auto; margin-left:auto;color:black; font-size:1.4em;line-height:1.5em;text-align:center; ">404</div>
        <div>
            <span>
                Искомая страница не найдена.
            </span>
        </div>
    </div>
</div>

