<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=TF09\ACSEXPRESS;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
  <!--<add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\aspnet-MvcAuth-20180418094237.mdf;initial catalog=aspnet-MvcAuth-20180418094237;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="ACSDynamicDBEntities" connectionString="metadata=res://*/Models.OrgStructure.csdl|res://*/Models.OrgStructure.ssdl|res://*/Models.OrgStructure.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TF09\ACSEXPRESS;initial catalog=ACSDynamicDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
</connectionStrings>