@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Отдел автоматизации<br />
    здание ДОС,1 этаж<br />
    @*<abbr title="Phone">P:</abbr>
        425.555.0100*@
</address>

<address>
    <strong>Липаев Алексей Александрович:</strong>   <a href="mailto:Support@example.com">lipaev@dinamika-avia.ru</a><br />
    <strong>Качков Иван Сергеевич:</strong> <a href="mailto:Marketing@example.com">kachkov@dinamika-avia.ru</a>
</address>