@{
    ViewBag.Title = "Главная страница";
}
<h2>@User.Identity.Name</h2>
<div class="jumbotron">
    <h1>ACS WEB</h1>
    <p class="lead">ACS WEB - это WEB сервис предоставляющий интерфейс работы с канцелярией и входным контролем ПКИ.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Канцелярия</h2>
        <p><a class="btn btn-default" href="/Chancellery/">Перейти в канцелярию &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Входной контроль ПКИ</h2>
        @*<p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>*@
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Перейти в модуль &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
                <h2>Учет рабочего времени</h2>
                @*<p>Узнай свое рабочее время.</p>
                <p><a class="btn btn-default" href="/WorkTime/">Узнать &raquo;</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Реестр проектов 1С</h2>
                <p><a class="btn btn-default" href="/Projects1C/">Перейти в реестр &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Организационная структура</h2>*@
    @*<p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>*@
    @*<p><a class="btn btn-default" href="/OrganizationalStructure/">Открыть &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Контроль поручений</h2>
            <p>Узнай свое рабочее время.</p>
            <p><a class="btn btn-default" href="/ControlOrders/">Перейти в модуль &raquo;</a></p>
        </div>*@
</div>